.mying1 { width:400px;
  height:600px;
  object-fit:cover;
  border-radius:100%;
  background-position:center;
  display: block;
  margin-left:auto;
  margin-right: auto;
  border: 6px solid #555;
  border-color:#e0218a; }

.mying2 {display: block;
  margin-left:auto;
  margin-right: auto; }

@font-face { font-family:"barbie";
  src:url('barbie.ttf') format('truetype');

}



h2 { color:#e0218a;
  font-size:60px;
  text-align:center;
  font-family:barbie; }

p { color:#e0218a;
 text-align:center;
  font-size:50px; }

hr { border-top: 8px solid #bbb;
  border-radius: 5px; }

Span { color:#e0218a;
  font-size:50px; 
  margin: 120px; }

.movies { 
 margin: 100px } 

.Drive { width:400px;
  height:600px; }

.LaLa { width:400px;
  height:600px;}

.TNG { width:400px;
  height:600px;
}

.TextM {
margin: 100px

}