 
.mying1 { width:400px;
  height:600px;
  object-fit:cover;
  border-radius:100%;
  background-position:center;
  display: block;
  margin-left:auto;
  margin-right: auto;
  border: 6px solid #555;
  border-color:#e0218a; }

.mying2 {display: block;
  margin-left:auto;
  margin-right: auto; }

@font-face { font-family:"barbie";
  src:url('barbie.ttf') format('truetype');

}



h2 { color:#e0218a;
  font-size:60px;
  text-align:center;
  font-family:barbie; }

p { text-align:center;
  font-size:50px;
  font-family:barbie; }

ul { font-size:50px;
 font-family:barbie; }

hr { border-top: 8px solid #bbb;
  border-radius: 5px; }


.TextM {
margin: 150px; }


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


span {
 margin: 170px;
 font-size:60px;
 font-family:barbie;
}

